@use '@/styles/colors.scss';

.container{
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1.2rem;
  background-color: colors.$light-grey;
  border-radius: 0.6rem;
  cursor: pointer;

  & input{
    visibility: hidden;
    &:checked + .indicator{
      transform: translate(1.1rem, -50%);
    }
  }

  .indicator{
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: colors.$light-cobalt-blue;
    transform: translate(-0.2rem,-50%);
    transition: transform 0.25s ease;
  }
}